@CHARSET "UTF-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
}

body {
	font-size:13px;
	width:970px;
	margin:0 auto;
	color:#666;
}
#header {
	width:970px;
	height:82px;
	background-image: url(../../deco/img/web/top.jpg);
	float: left;
}
#nav {
	width:970px;
	height:37px;
	background-image: url(../../deco/img/web/nav.jpg);
	line-height: 37px;
	font-weight: bold;
	color: #FFF;
	font-size: 14px;
	margin-bottom: 15px;
	float: left;
}

#nav #row1 {
	float: left;
	padding-left:50px;
}

#nav #row2 {
	text-align:right;
	margin-right:10px;
}

#page {
    position:relative;
}
/* 锟恳筹靠锟夸开始 */
#content {
	width:970px;
	height:100%;
	margin-bottom: 15px;
	float: left;
}
#content h1 {
	font-size:14px;
	height:22px;
	padding-top:9px;
	color: #000;
}
.c {
	font-size:14px;
	height:28px;
	padding-top:9px;
	color: #F60;
}
.line{
	background-image: url(../../deco/img/web/line.jpg);
	background-repeat: repeat-x;
}
#content p{
	line-height: 20px;
}
.lan{
	color: #3366cc;
	font-size: 14px;
	font-weight: normal;
}
.p1{
	background-image: url(../../deco/img/web/p1.jpg);
	background-repeat: repeat-x;
}
.p2{
	background-image: url(../../deco/img/web/p2.jpg);
	background-repeat: repeat-x;
}
/* 锟恳筹靠锟匡靠锟� */
/* 锟匡靠锟匡靠锟夸开始*/
#content1 {
	width:970px;
	height:100%;
	margin-top: 10px;
	border: 1px solid #ebf1f1;
	float: left;
}
.sub{
	background-image: url(../../deco/img/web/sub-nav.jpg);
	background-repeat: repeat-x;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	
}
.nr{
	font-size: 14px;
	font-weight: normal;
	color: #3366cc;
}
.new{
	font-size: 14px;
	font-weight: normal;
	color: #ff5d00;
}
.zz{
	font-size: 14px;
	color: #333;

}
.ft{
	font-size: 14px;
	font-weight: bold;
	background-image: url(../../deco/img/web/anniu.jpg);
	color: #FFF;
	background-repeat: no-repeat;
}
#content2 {
	width:970px;
	height:50px;
	float: left;
}
.pages{
	background-image: url(../../deco/img/web/wenjian.jpg);
	background-repeat: no-repeat;
	padding-right: 4px;
	font-size: 14px;
	color: #000;
	line-height: 25px;
}
.button{
	width:43px;
	height:26px;
	border:none;
	background-image: url(../../deco/img/web/go.jpg);
}
/* 锟匡靠锟匡靠锟匡靠锟�*/
/* 锟匡靠页锟匡靠淇�始*/
#content3 {
	width:970px;

	margin-top: 8px;
	border: 1px solid #d7dbef;
	float: left;
}
.bg{
	background-color: #f3f9ff;
	padding-top: 8px;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #dadee3;
	border-right-width: 1px;
	border-right-color: #dadee3;
	border-bottom-width: 1px;
	border-bottom-color: #dadee3;
}
.b{
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: dashed;
	border-top-color: #d7dbef;
	border-bottom-color: #CCC;
}
.wz{
	line-height:18px;
	color:#000;
	text-indent:2em;
	font-size: 12px;
	padding-top: 12px;
	padding-right: 8px;
	padding-left: 8px;
	overflow:hidden;
	width:400px;
	height:300px;
}
.pages2{
	background-image: url(../../deco/img/web/wenjian1.jpg);
	background-repeat: no-repeat;
	padding-right: 6px;
	font-size: 12px;
	color: #000;
	line-height: 25px;
}
#content4 {
	width:970px;
	height:90%;
	border: 1px solid #d7dbef;
	float: left;
}
.n{
	background-image: url(../../deco/img/web/jc.jpg);
	background-repeat: repeat-x;
	

}
/* 锟匡靠页锟匡靠锟匡靠*/
#footer {
	width:970px;
	height:66px;
	float: left;
	padding:10px 0;
}
.footer {
	width:970px;
	height:13px;
	background-image: url(../../deco/img/web/footer.jpg);
	background-repeat: repeat-x;
}
.bq{
	text-align:center;
	height:18px;
	line-height:18px;
	color:#666;
}
#forum
{
    background-image: url(../../deco/img/web/2.jpg);
    background-repeat: repeat-x;
    height: 30px;
}
.hangTitle
{
    font-weight: bold;
    font-size: 14px;
    color: #0066FF;
    margin: 0;
    padding: 0;
    background-image: url(../../deco/img/web/2.jpg);
    background-repeat: repeat-x;
    height: 30px;
}
#content5 {
	width:970px;
	height:100%;
	border: 1px solid #d7dbef;
	float: left;
}
