/***********************
页面缺省风格：<p></p>之间的文字字体、颜色、大小、间距，以及滚动条的样式、颜色。
***********************/
P {
	color: #000000; LINE-HEIGHT: 120%; scrollbar-face-color: 145f74; scrollbar-3dlight-color: ffffff; scrollbar-darkshadow-color: ffffff; scrollbar-track-color: FFFFFF; scrollbar-arrow-color: ffffff; scrollbar-shadow-color: ffffff
}


/***********************
页面缺省风格：<li></li>(项目符号)之间的文字字体、颜色、大小、间距，以及滚动条的样式、颜色。
***********************/
LI {
	color : #000000; FONT-SIZE: 12px; LINE-HEIGHT: 120%; scrollbar-face-color: 145f74; scrollbar-3dlight-color: ffffff; scrollbar-darkshadow-color: ffffff; scrollbar-track-color: FFFFFF; scrollbar-arrow-color: ffffff; scrollbar-shadow-color: ffffff
}

/***********************
页面缺省风格：<input></input>(输入框)之上、内的文字字体、颜色、大小、间距，以及滚动条的样式、颜色。
***********************/
INPUT {
	 
}
/***********************
页面缺省风格：<input></input>(输入框)的样式
***********************/
input, button, select, textarea, file ,text ,radio 
{
    BORDER-RIGHT: #c4c4c4 1px solid;
    BORDER-TOP: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid;
    BORDER-BOTTOM: #c4c4c4 1px solid;
}


/***********************
输入框text的属性:边框颜色\宽度,需要调用
***********************/
INPUT.str {
	WIDTH: 100%; border-color:#dddddd #dddddd #dddddd #dddddd; border:solid; border-width: 1px
}


/***********************
页面缺省风格：<select></select>(选择框)之间的文字字体、颜色、大小、间距，以及滚动条的样式、颜色。
***********************/
SELECT {
	color: #000000; FONT-SIZE: 12px; LINE-HEIGHT: 130%; scrollbar-face-color: 145f74; scrollbar-3dlight-color: ffffff; scrollbar-darkshadow-color: ffffff; scrollbar-track-color: FFFFFF; scrollbar-arrow-color: ffffff; scrollbar-shadow-color: ffffff
}

/***********************
缺省链接风格：全为黑色
**********************/
A:link {
	COLOR: #000000; FONT-SIZE: 13px; TEXT-DECORATION:none
}
A:hover {
	COLOR: #000000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; FONT-SIZE: 13px; TEXT-DECORATION: none
}

/***********************
链接风格一：banner白色连接，全为白色
**********************
A.white:link {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.white:hover {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.white:visited {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.white:active {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}*/


/***********************
链接风格二：菜单深蓝色连接。
***********************/
A.menu:link {
	COLOR: #0066cc; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.menu:hover {
	COLOR: #0066cc; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.menu:visited {
	COLOR: #0066cc; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.menu:active {
	COLOR: #0066cc; FONT-SIZE: 12px; TEXT-DECORATION: none
}


/***********************
链接风格三：附件风格,黑色,放上为红色。
***********************/
A.a02:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.a02:active {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.a02:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}

/***********************
页面缺省风格：<table></table>(表格)中的文字字体大小。（应该没用，由td控制)
***********************/
TABLE 
{
	FONT-SIZE: 12px;
	border:0px;
}
/***********************
页面缺省风格：<td></td>(单元格)中的文字字体、颜色、大小、间距，以及滚动条的样式、颜色。
***********************/
TD {
	FONT-FAMILY: "宋体", "Times New Roman", "Times", "serif"; color : #000000; FONT-SIZE: 12px; LINE-HEIGHT: 130%; scrollbar-face-color: 145f74; scrollbar-3dlight-color: ffffff; scrollbar-darkshadow-color: ffffff; scrollbar-track-color: FFFFFF; scrollbar-arrow-color: ffffff; scrollbar-shadow-color: ffffff
}

/***********************
层缺省隐藏风格。
***********************/
DIV.hidden {
	VISIBILITY: hidden
}


/***********************
页面缺省风格：不包含在表格、控件之中的字体大小、颜色、字形、背景色、滚动条样式
***********************/
body
{
	margin: 0 auto;
	color: black;
	font-family: 宋体;
}
/*
html
{
	margin: 0 auto;
    height:100%;
}
form
{
    height:100%;
}*/
/***********************
表格黑框形成样式
***********************/
.tablebgcolor 
{
      background-color: #000000;
}
.tdbgcolor {  background-color: #ffffff}


/***********************
文件列表list风格：深色间隔
***********************/
.gridOddRow
{
	FONT-SIZE: 12px;
	line-height : 50px;
	BACKGROUND-COLOR: #e9e9e9
}
/***********************
文件列表list风格：浅色间隔
***********************/
.gridEvenRow
{
    FONT-SIZE: 12px;
    BACKGROUND-COLOR: #F7F7F7
 }

/***********************
文件列表list风格：最底层一条
***********************/
.gridHead
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 12px;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: #c6c6c6;
}
/***********************
文件列表list风格：鼠标放上后的样式。
***********************/
.gridHighlight
{
	BACKGROUND-COLOR: #dcc3eb;
}

.gridSelectedHighlight
{
	BACKGROUND-COLOR: #ffffff;
}

div.topBody
{
	font-size: 12px;
	color: black;
	font-family: SimSun;
	background-color: #faefc5;
}
div.subTitle
{
	font-size: 12pt;
}

div.flowNode
{
	font-size: 12px;
	background-color: #ccff99;
}

div.flowParentNode
{
	font-size: 12px;
	background-color: Aqua;
}

div.flowNodeSelected
{
	font-size: 12px;
	background-color: #33ccff;  
}
div.topFrame
{
	font-size: 12px;
	color: black;
	font-family: SimSun;
	background-color: #fea465;
}
.font_big {  font-size: 18px}
.strshort {  width: 50px}



/*
#dropmenudiv{ position:absolute; background-color:#ccefff; border:1px solid black; border-bottom-width: 0; font:normal 12px Verdana; line-height:25px; z-index:100; } #dropmenudiv a{ width: 100%; display: block; text-indent: 3px; border-bottom: 1px solid black; padding: 1px 0; text-decoration: none; font-weight: bold; } #dropmenudiv a:hover{  background-color:  #93baf9;*/
#dropmenudiv{ white-space:nowrap;position:absolute; background-color:blue; border:1px solid gray; border-bottom-width: 0; font:normal 12px Verdana; line-height:25px; z-index:100; }
#dropmenudiv a{ width: 100%; display: block; text-indent: 3px; border-bottom: 1px solid gray; padding: 1px 0; text-decoration: none; font-weight: bold; font-size:14px }
#dropmenudiv a:hover{  background-color:  red;}
.title2
{
/*	white-space:nowrap;*/
	width:100%
}
/***********************
人员选择框的 Person_css
***********************/
.P_Modal
{
	font-size: 9pt;
	color: black;
	font-family: SimSun;
	BACKGROUND-COLOR:#dcdcdc;
}
.P_tablebgcolor {  background-color: #000000}
.P_tdbgcolor {  background-color: #dcdcdc}

/*日期型的显示样式*/
.date {
	FONT-SIZE: 9pt; COLOR: #999999; TEXT-DECORATION: none
}
.otherfield
{
    font-size:9pt;color:Red;
}
.f14
{
    font-size:14px;
}
#maintable
{width:100%;height:100%}

#middle-bar
{
	width: 7px; background-image: url("../../images/bar.gif"); cursor: e-resize;position:relative;z-index:1000;
}
#switcher
{
	width: 7px; height: 9px; background-image: url("../../images/bar-switcher.gif");cursor: pointer;
}
.switcher-on
{
	background-position: 0 -9px;
}
.switcher-off
{
	background-position: 0 0;
}

.floatdiv
{
left:0;top:0;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
background-color:red;
position:absolute;
width:100%;
height:100%;
z-index:999;
moz-opacity:0;
opacity:0;
}
.webpartA
{
    background-image: url("../../images/headerTitleBg.jpg");
    background-color:#FFefd6;
}

/*
实现标签的样式
*/
.tab-panel {
	position:	relative;
	width:		100%;		
	margin-right:	-2px;	
}


.tab {

	width:				70px;
	height:				16px;
	background-image:	url("../../images/tab.png" );
	
	position:		relative;
	top:			0;
	display:		inline;
	float:			left;
	overflow:		hidden;
	
	cursor:			Default;

	margin:			1px -1px 1px 2px;
	padding:		2px 0px 0px 0px;
	border:			0;

	z-index:		1;
	font:			11px Tahoma;
	white-space:	nowrap;
	text-align:		center;
}

.tab.selected {
	width:				74px !important;
	height:				18px !important;
	background-image:	url("../../images/tab.active.png" ) !important;
	background-repaet:	no-repeat;

	border-bottom-width:	0;
	z-index:		3;
	padding:		2px 0 0px 0;
	margin:			1px -3px -3px 0px;
	top:			-2px;
	font:				11px Tahoma;
}

.tab a {
	font:				11px Tahoma;
	color:				Black;
	text-decoration:	none;
	cursor:				default;
}

.tab.hover {
	font:				11px Tahoma;
	width:				70px;
	height:				16px;
	background-image:	url("../../images/tab.hover.png" );
	background-repaet:	no-repeat;
}


.tab-page {
	clear:			both;
	border:			1px solid rgb( 145, 155, 156 );
	background:		rgb( 252, 252, 254 );
	z-index:		2;
	position:		relative;
	top:			-2px;

	font:				11px Tahoma;
	color:				Black;

	filter:			progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fffcfcfe, EndColorStr=#fff4f3ee, GradientType=0)
					progid:DXImageTransform.Microsoft.Shadow(Color=#ff919899, Strength=2, Direction=135);
	
	/*244, 243, 238*/
	/* 145, 155, 156*/
	
	padding:		10px;
}

.tab-row {
	z-index:		1;
	white-space:	nowrap;
}

img
{
    border:none;
}

td div
{
    font-size:12px !important;
    font-family:宋体 !important;
}