@CHARSET "UTF-8";

ul, li {
	list-style-type: none;
}

.column-list {
	padding-top: 10px;
}

.column-list li {
	font-size: 14px;
	width: 33%;
	text-align: left;
	color: #333333;
	border-bottom: 1px solid #E0E0E0;
	float: left;
}

.column-list li span {
	font-size: 14px;
	line-height: 29px;
	text-align: left;
	color: #333333;
	padding-right: 10px;
}

.column-list li a {
	font-size: 14px;
	line-height: 29px;
	color: #333333;
	padding-left: 10px;
}

.column-list li a:hover {
	font-size: 14px;
	line-height: 29px;
	color: #ff0000;
}