<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BlobInfoMapper">
	<resultMap id="BaseResultMap" type="BlobInfo">
		<id column="BLOBGUID" property="blobguid" jdbcType="VARCHAR" />
		<result column="GUID" property="guid" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="LONGVARBINARY" />
	</resultMap>

	<sql id="Base_Column_List">
		BLOBGUID, GUID, content
	</sql>

	<select id="selectByGuid" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM BlobInfo
		WHERE BLOBGUID = #{blobguid,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByGuid" parameterType="java.lang.String">
		DELETE FROM BlobInfo
		WHERE BLOBGUID = #{blobguid,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="BlobInfo">
		INSERT INTO BlobInfo
		(BLOBGUID, GUID, CONTENT)
		values
		(#{blobguid,jdbcType=VARCHAR},
		#{guid,jdbcType=VARCHAR},
		#{content,jdbcType=LONGVARBINARY})
	</insert>
</mapper>