<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BuyCardNumberRecordMapper">
	<resultMap id="BaseResultMap" type="BuyCardNumberRecord">
		<id column="guid" property="guid" jdbcType="BIGINT" />
		<result column="memberGuid" property="memberguid" jdbcType="BIGINT" />
		<result column="money" property="money" jdbcType="DECIMAL" />
		<result column="number" property="number" jdbcType="INTEGER" />
		<result column="oldExpireTime" property="oldexpiretime" jdbcType="TIMESTAMP" />
		<result column="expireTime" property="expiretime" jdbcType="TIMESTAMP" />
		<result column="oldBalance" property="oldbalance" jdbcType="DECIMAL" />
		<result column="newBalance" property="newbalance" jdbcType="DECIMAL" />
		<result column="oldConsumption" property="oldconsumption" jdbcType="DECIMAL" />
		<result column="newConsumption" property="newconsumption" jdbcType="DECIMAL" />
		<result column="oldTimes" property="oldtimes" jdbcType="INTEGER" />
		<result column="newTimes" property="newtimes" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="creatorId" property="creatorid" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		guid, memberGuid, money, number, oldExpireTime, expireTime,
		oldBalance, newBalance, oldConsumption, newConsumption,
		oldTimes, newTimes,
		remark, createTime, creator, creatorId
	</sql>
	<sql id="List_Column">
		guid, memberGuid, money, number, expireTime, remark, createTime
	</sql>

	<!-- 获取分页数据 -->
	<select id="selectListByPage" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		SELECT
		<include refid="List_Column" />
		FROM BuyCardNumberRecord
		<where>
			<if test="wheresql.memberguid != null and wheresql.memberguid != ''">
				AND memberGuid = #{wheresql.memberguid,jdbcType=VARCHAR}
			</if>
		</where>

		<if test="ordersql != null and ordersql != ''">
			ORDER BY ${ordersql}
		</if>
		<if test="ordersql == null or ordersql == ''">
			ORDER by createTime desc
		</if>
	</select>

	<select id="selectByGuid" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM BuyCardNumberRecord
		WHERE guid = #{guid,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByGuid" parameterType="java.lang.String">
		DELETE FROM BuyCardNumberRecord
		WHERE guid = #{guid,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="BuyCardNumberRecord">
		INSERT INTO BuyCardNumberRecord
		(guid, memberGuid, money, number, oldExpireTime, expireTime,
		oldBalance, newBalance, oldConsumption, newConsumption,
		oldTimes, newTimes,
		remark, createTime, creator, creatorId)
		values (#{guid,jdbcType=BIGINT}, #{memberguid,jdbcType=BIGINT},
		#{money,jdbcType=DECIMAL}, #{number,jdbcType=INTEGER},
		#{oldexpiretime,jdbcType=TIMESTAMP}, #{expiretime,jdbcType=TIMESTAMP},
		#{oldbalance,jdbcType=DECIMAL}, #{newbalance,jdbcType=DECIMAL},
		#{oldconsumption,jdbcType=DECIMAL}, #{newconsumption,jdbcType=DECIMAL},
		#{oldtimes,jdbcType=INTEGER}, #{newtimes,jdbcType=INTEGER},
		#{remark,jdbcType=VARCHAR},
		#{createtime,jdbcType=TIMESTAMP},
		#{creator,jdbcType=VARCHAR}, #{creatorid,jdbcType=VARCHAR})
	</insert>
</mapper>