<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BuyCardRecordMapper">
	<resultMap id="BaseResultMap" type="BuyCardRecord">
		<id column="guid" property="guid" jdbcType="BIGINT" />
		<result column="memberGuid" property="memberguid" jdbcType="BIGINT" />
		<result column="money" property="money" jdbcType="DECIMAL" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="creatorId" property="creatorid" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		guid, memberGuid, money, remark, createTime, creator, creatorId
	</sql>
	<sql id="List_Column">
		guid, memberGuid, money, remark, createTime, creator, creatorId
	</sql>

	<!-- 获取分页数据 -->
	<select id="selectListByPage" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		SELECT
		<include refid="Base_Column_List" />
		FROM BuyCardRecord
		<where>
			<if test="wheresql.memberguid != null and wheresql.memberguid != ''">
				AND memberGuid = #{wheresql.memberguid,jdbcType=VARCHAR}
			</if>
		</where>

		<if test="ordersql != null and ordersql != ''">
			ORDER BY ${ordersql}
		</if>
		<if test="ordersql == null or ordersql == ''">
			ORDER by createTime desc
		</if>
	</select>

	<select id="selectByGuid" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM BuyCardRecord
		where guid = #{guid,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByGuid" parameterType="java.lang.String">
		delete from BuyCardRecord
		where guid = #{guid,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="BuyCardRecord">
		insert into BuyCardRecord (guid, memberGuid, money,
		remark, createTime, creator, creatorId)
		values (#{guid,jdbcType=BIGINT}, #{memberguid,jdbcType=BIGINT},
		#{money,jdbcType=DECIMAL},
		#{remark,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR},
		#{creatorid,jdbcType=VARCHAR})
	</insert>
</mapper>