<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DocumentInfoMapper">
	<resultMap id="BaseResultMap" type="DocumentInfo">
		<id column="guid" property="guid" jdbcType="VARCHAR" />
		<result column="columnGuid" property="columnguid" jdbcType="VARCHAR" />
		<result column="columnName" property="columnname" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="isTop" property="istop" jdbcType="SMALLINT" />
		<result column="isCream" property="iscream" jdbcType="SMALLINT" />
		<result column="orderNum" property="ordernum" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="SMALLINT" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="creatorID" property="creatorid" jdbcType="VARCHAR" />
		<result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="DocumentInfo"
		extends="BaseResultMap">
		<result column="areaContent" property="areacontent" jdbcType="LONGVARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		guid, columnGuid, columnName, title, type, isTop, isCream, orderNum, status,
		creator, creatorID, createTime
	</sql>
	<sql id="Blob_Column_List">
		areaContent
	</sql>

	<select id="selectByGuid" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from documentinfo
		where guid = #{guid,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByGuid" parameterType="java.lang.String">
		delete from documentinfo
		where guid = #{guid,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="DocumentInfo">
		insert into documentinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="guid != null">
				guid,
			</if>
			<if test="columnguid != null">
				columnGuid,
			</if>
			<if test="columnname != null">
				columnName,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="istop != null">
				isTop,
			</if>
			<if test="iscream != null">
				isCream,
			</if>
			<if test="ordernum != null">
				orderNum,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="creatorid != null">
				creatorID,
			</if>
			<if test="createtime != null">
				createTime,
			</if>
			<if test="areacontent != null">
				areaContent,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="guid != null">
				#{guid,jdbcType=VARCHAR},
			</if>
			<if test="columnguid != null">
				#{columnguid,jdbcType=VARCHAR},
			</if>
			<if test="columnname != null">
				#{columnname,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="istop != null">
				#{istop,jdbcType=SMALLINT},
			</if>
			<if test="iscream != null">
				#{iscream,jdbcType=SMALLINT},
			</if>
			<if test="ordernum != null">
				#{ordernum,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=SMALLINT},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="creatorid != null">
				#{creatorid,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="areacontent != null">
				#{areacontent,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByGuid" parameterType="DocumentInfo">
		update documentinfo
		<set>
			<if test="columnguid != null">
				columnGuid = #{columnguid,jdbcType=VARCHAR},
			</if>
			<if test="columnname != null">
				columnName = #{columnname,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="istop != null">
				isTop = #{istop,jdbcType=SMALLINT},
			</if>
			<if test="iscream != null">
				isCream = #{iscream,jdbcType=SMALLINT},
			</if>
			<if test="ordernum != null">
				orderNum = #{ordernum,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=SMALLINT},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test="creatorid != null">
				creatorID = #{creatorid,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createTime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="areacontent != null">
				areaContent = #{areacontent,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where guid = #{guid,jdbcType=VARCHAR}
	</update>

	<!-- 修改置顶状态 -->
	<update id="updateIsTopByGuid" parameterType="java.util.Map">
		UPDATE documentinfo
		SET isTop = #{istop,jdbcType=SMALLINT}
		WHERE GUID = #{guid,jdbcType=VARCHAR}
	</update>

	<!-- 修改精华状态 -->
	<update id="updateIsCreamByGuid" parameterType="java.util.Map">
		UPDATE documentinfo
		SET isCream = #{iscream,jdbcType=SMALLINT}
		WHERE GUID = #{guid,jdbcType=VARCHAR}
	</update>

	<!-- 修改状态 -->
	<update id="updateStatusByGuid" parameterType="java.util.Map">
		UPDATE documentinfo
		SET status = #{status,jdbcType=SMALLINT}
		WHERE GUID = #{guid,jdbcType=VARCHAR}
	</update>
	<!-- 转移板块 -->
	<update id="shiftDocumentByGuid" parameterType="java.util.Map">
		UPDATE documentinfo
		<set>
		columnGuid = #{columnguid,jdbcType=VARCHAR},
 		columnName = #{columnname,jdbcType=VARCHAR}
 		</set>
		WHERE GUID = #{guid,jdbcType=VARCHAR}
	</update>
	<!-- 获取分页数据 -->
	<select id="selectListByPage" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		SELECT
		<include refid="Base_Column_List" />
		FROM documentinfo
		<where>
			<if test="wheresql.advSql != null and wheresql.advSql != ''">
				AND ${wheresql.advSql}
			</if>
				AND status = '0'
			<if test="wheresql.columnguid != null and wheresql.columnguid != ''">
				AND columnGuid = #{wheresql.columnguid}
			</if>
		</where>

		<if test="ordersql != null and ordersql != ''">
			ORDER BY ${ordersql}
		</if>
		<if test="ordersql == null or ordersql == ''">
			ORDER by isTop desc, createTime desc
		</if>
	</select>

	<!-- 获取帖子列表 -->
	<select id="selectDocument" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		SELECT  *
		FROM documentinfo
		WHERE status = '0'
		ORDER BY createTime DESC
	</select>

	<!-- 获取板块下帖子列表 -->
	<select id="selectDocumentList" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		SELECT	title,creator,createTime
		FROM documentinfo
		WHERE status = '0'
		AND
		columnGuid = #{columnguid,jdbcType=VARCHAR}
		ORDER BY createTime DESC
	</select>

	<!-- 获取板块下帖子数 -->
	<select id="selectNumByColumn" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		SELECT count(*) FROM documentinfo
		WHERE status = '0'
		AND 
		columnGuid = #{columnguid,jdbcType=VARCHAR}
	</select>

	<!-- 获取今日,昨日，总共，帖子数 -->
	<select id="selectNumByCreatetime" resultType="java.lang.String"
		parameterType="java.util.Map">
		SELECT count(*) FROM documentinfo
		WHERE date_format(createTime,'%Y-%m-%d') = #{time,jdbcType=VARCHAR}
		AND status = '0'
		
	</select>

	<select id="selectAllNum" resultType="java.lang.String"
		parameterType="java.util.Map">
		SELECT count(*) FROM documentinfo WHERE status = '0'
	</select>
</mapper>