<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="MemberInfoMapper">
	<resultMap id="BaseResultMap" type="MemberInfo">
		<id column="guid" property="guid" jdbcType="VARCHAR" />
		<result column="cardNumber" property="cardnumber" jdbcType="VARCHAR" />
		<result column="cardType" property="cardtype" jdbcType="VARCHAR" />
		<result column="activeTime" property="activetime" jdbcType="TIMESTAMP" />
		<result column="expireTime" property="expiretime" jdbcType="TIMESTAMP" />
		<result column="balance" property="balance" jdbcType="DECIMAL" />
		<result column="consumption" property="consumption" jdbcType="DECIMAL" />
		<result column="points" property="points" jdbcType="INTEGER" />
		<result column="times" property="times" jdbcType="INTEGER" />
		<result column="usedTimes" property="usedtimes" jdbcType="INTEGER" />
		<result column="fullName" property="fullname" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="nationality" property="nationality" jdbcType="VARCHAR" />
		<result column="identityCard" property="identitycard" jdbcType="VARCHAR" />
		<result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="SMALLINT" />
		<result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="creatorId" property="creatorid" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		guid, cardNumber, cardType, activeTime, expireTime, balance, consumption,
		points, times, usedTimes, fullName, sex, nationality, identityCard, birthday,
		mobile, createTime, creator, creatorId, status
	</sql>
	<sql id="List_Column">
		guid, cardNumber, fullName, mobile, status
	</sql>

	<!-- 获取分页数据 -->
	<select id="selectListByPage" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		SELECT
		<include refid="List_Column" />
		FROM MemberInfo
		<where>
			<if test="wheresql.advSql != null and wheresql.advSql != ''">
				AND ${wheresql.advSql}
			</if>
		</where>

		<if test="ordersql != null and ordersql != ''">
			ORDER BY ${ordersql}
		</if>
		<if test="ordersql == null or ordersql == ''">
			ORDER by createTime desc
		</if>
	</select>

	<select id="selectByGuid" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM MemberInfo
		WHERE guid = #{guid,jdbcType=VARCHAR}
	</select>

	<!-- 查找会员卡号信息 -->
	<select id="selectByCardNumber" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM MemberInfo
		<where>
			<if test="cardnumber != null and cardnumber != ''">
				AND cardNumber = #{cardnumber,jdbcType=VARCHAR}
			</if>
			<if test="withoutguid != null and withoutguid != ''">
				<![CDATA[ AND guid <> #{withoutguid,jdbcType=VARCHAR} ]]>
			</if>
		</where>
	</select>

	<delete id="deleteByGuid" parameterType="java.lang.String">
		DELETE FROM MemberInfo
		WHERE guid = #{guid,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="MemberInfo">
		INSERT INTO MemberInfo
		(guid, cardNumber, cardType,
		balance, consumption, points, times, usedTimes,
		fullName, sex, nationality, identityCard, birthday, mobile,
		status, createTime, creator, creatorId)
		values (#{guid,jdbcType=VARCHAR}, #{cardnumber,jdbcType=VARCHAR},
		#{cardtype,jdbcType=VARCHAR},
		#{balance,jdbcType=DECIMAL}, #{consumption,jdbcType=DECIMAL},
		#{points,jdbcType=INTEGER},
		#{times,jdbcType=INTEGER}, #{usedtimes,jdbcType=INTEGER},
		#{fullname,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR},
		#{nationality,jdbcType=VARCHAR}, #{identitycard,jdbcType=VARCHAR},
		#{birthday,jdbcType=TIMESTAMP}, #{mobile,jdbcType=VARCHAR},
		#{status,jdbcType=SMALLINT}, #{createtime,jdbcType=TIMESTAMP},
		#{creator,jdbcType=VARCHAR}, #{creatorid,jdbcType=VARCHAR})
	</insert>

	<update id="updateByGuid" parameterType="MemberInfo">
		update MemberInfo
		set fullName = #{fullname,jdbcType=VARCHAR},
		sex = #{sex,jdbcType=VARCHAR},
		nationality = #{nationality,jdbcType=VARCHAR},
		identityCard = #{identitycard,jdbcType=VARCHAR},
		birthday = #{birthday,jdbcType=TIMESTAMP},
		mobile = #{mobile,jdbcType=VARCHAR}
		where guid = #{guid,jdbcType=VARCHAR}
	</update>

	<!-- 充值 -->
	<update id="charge" parameterType="MemberInfo">
		update memberinfo
		set balance = #{balance,jdbcType=DECIMAL}
		where guid = #{guid,jdbcType=VARCHAR}
	</update>

	<!-- 买卡 -->
	<update id="buyCard" parameterType="MemberInfo">
		update memberinfo
		set status = #{status,jdbcType=SMALLINT},
		balance = #{balance,jdbcType=DECIMAL}
		where guid = #{guid,jdbcType=VARCHAR}
	</update>

	<!-- 消费 -->
	<update id="spend" parameterType="MemberInfo">
		update memberinfo
		set balance = #{balance,jdbcType=DECIMAL}
		where guid = #{guid,jdbcType=VARCHAR}
	</update>

	<!-- 开卡 -->
	<update id="activeCard" parameterType="MemberInfo">
		update memberinfo
		set status = #{status,jdbcType=SMALLINT},
		activeTime = #{activetime,jdbcType=TIMESTAMP},
		expireTime = #{expiretime,jdbcType=TIMESTAMP}
		where guid = #{guid,jdbcType=VARCHAR}
	</update>

	<!-- 续卡 -->
	<update id="continueCard" parameterType="MemberInfo">
		update memberinfo
		set expireTime = #{expiretime,jdbcType=TIMESTAMP},
		balance = #{balance,jdbcType=DECIMAL}
		where guid = #{guid,jdbcType=VARCHAR}
	</update>

	<!-- 购买次数 -->
	<update id="buyCardPoints" parameterType="MemberInfo">
		update memberinfo
		set status = #{status,jdbcType=SMALLINT},
		expireTime = #{expiretime,jdbcType=TIMESTAMP},
		points = #{points,jdbcType=INTEGER},
		balance = #{balance,jdbcType=DECIMAL}
		where guid = #{guid,jdbcType=VARCHAR}
	</update>

	<!-- 次卡签到 -->
	<update id="pointSignRecord" parameterType="MemberInfo">
		update memberinfo
		set points = #{points,jdbcType=INTEGER}
		where guid = #{guid,jdbcType=VARCHAR}
	</update>

	<!-- 请假 -->
	<update id="leave" parameterType="MemberInfo">
		update memberinfo
		set status = '3'
		where guid = #{guid,jdbcType=VARCHAR}
	</update>

	<!-- 销假 -->
	<update id="leaveBack" parameterType="MemberInfo">
		update memberinfo
		set status = '2',
		expireTime = #{expiretime,jdbcType=TIMESTAMP}
		where guid = #{guid,jdbcType=VARCHAR}
	</update>
</mapper>