<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ReplyInfoMapper">
	<resultMap id="BaseResultMap" type="ReplyInfo">
		<id column="guid" property="guid" jdbcType="VARCHAR" />
		<result column="docGuid" property="docguid" jdbcType="VARCHAR" />
		<result column="columnGuid" property="columnguid" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="replyContent" property="replycontent" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="creatorID" property="creatorid" jdbcType="VARCHAR" />
		<result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		guid, docGuid, columnGuid, title, replyContent, creator, creatorID,
		createTime
	</sql>
	<sql id="List_Column">
		guid, docGuid, columnGuid, title, replyContent, creator, creatorID,
		createTime
	</sql>

	<!-- 获取回复列表分页数据 -->
	<select id="selectReplyInfoByPage" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		SELECT
		<include refid="List_Column" />
		FROM ReplyInfo

		<where>
			<if test="wheresql.docguid != null and wheresql.docguid != ''">
				AND docGuid = #{wheresql.docguid}
			</if>
		</where>
		<if test="ordersql != null and ordersql != ''">
			ORDER BY ${ordersql}
		</if>
		<if test="ordersql == null or ordersql == ''">
			ORDER BY CREATETIME ASC
		</if>
	</select>

	<!-- 获取回复页信息 -->
	<select id="selectByGuid" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM REPLYINFO
		WHERE GUID = #{guid,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByGuid" parameterType="ReplyInfo">
		delete from replyinfo
		where guid = #{guid,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="ReplyInfo">
		insert into replyinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="guid != null">
				guid,
			</if>
			<if test="docguid != null">
				docGuid,
			</if>
			<if test="columnguid != null">
				columnGuid,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="creatorid != null">
				creatorID,
			</if>
			<if test="createtime != null">
				createTime,
			</if>
			<if test="replycontent != null">
				replyContent,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="guid != null">
				#{guid,jdbcType=VARCHAR},
			</if>
			<if test="docguid != null">
				#{docguid,jdbcType=VARCHAR},
			</if>
			<if test="columnguid != null">
				#{columnguid,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="creatorid != null">
				#{creatorid,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="replycontent != null">
				#{replycontent,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByGuid" parameterType="ReplyInfo">
		update replyinfo
		<set>
			<if test="docguid != null">
				docGuid = #{docguid,jdbcType=VARCHAR},
			</if>
			<if test="columnguid != null">
				columnGuid = #{columnguid,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test="creatorid != null">
				creatorID = #{creatorid,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createTime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="replycontent != null">
				replyContent = #{replycontent,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where guid = #{guid,jdbcType=VARCHAR}
	</update>

	<!-- 获取最新回复列表 -->
	<select id="selectReplyInfo" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		SELECT title,creator,createTime,docGuid
		FROM replyinfo
		WHERE replyinfo.docGuid in (
			select guid from DocumentInfo
			where DocumentInfo.status = '0'
		)
		ORDER BY CREATETIME DESC
	</select>
</mapper>