<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SignRecordMapper">
	<resultMap id="BaseResultMap" type="SignRecord">
		<result column="guid" property="guid" jdbcType="BIGINT" />
		<result column="memberGuid" property="memberguid" jdbcType="BIGINT" />
		<result column="cardType" property="cardtype" jdbcType="VARCHAR" />
		<result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="creatorId" property="creatorid" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		guid, memberGuid, cardType, createTime, creator, creatorId
	</sql>
	<sql id="List_Column">
		guid, memberGuid, cardType, createTime, creator, creatorId
	</sql>

	<!-- 获取分页数据 -->
	<select id="selectListByPage" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		SELECT
		<include refid="Base_Column_List" />
		FROM SignRecord
		<where>
			<if test="wheresql.guid != null and wheresql.guid != ''">
				AND guid = #{guid,jdbcType=VARCHAR}
			</if>
		</where>

		<if test="ordersql != null and ordersql != ''">
			ORDER BY ${ordersql}
		</if>
		<if test="ordersql == null or ordersql == ''">
			ORDER by createTime desc
		</if>
	</select>

	<select id="selectByGuid" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM SignRecord
		where guid = #{guid,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByGuid" parameterType="java.lang.String">
		delete from SignRecord
		where guid = #{guid,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="SignRecord">
		insert into signrecord (guid,
		memberGuid, cardType, createTime,
		creator, creatorId)
		values
		(#{guid,jdbcType=BIGINT}, #{memberguid,jdbcType=BIGINT},
		#{cardtype,jdbcType=VARCHAR},
		#{createtime,jdbcType=TIMESTAMP},
		#{creator,jdbcType=VARCHAR}, #{creatorid,jdbcType=VARCHAR})
	</insert>
</mapper>