<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="VisitInfoMapper">
	<resultMap id="BaseResultMap" type="VisitInfo">
		<id column="guid" property="guid" jdbcType="VARCHAR" />
		<result column="objectGuid" property="objectguid" jdbcType="VARCHAR" />
		<result column="objectType" property="objecttype" jdbcType="INTEGER" />
		<result column="IP" property="ip" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="creatorID" property="creatorid" jdbcType="VARCHAR" />
		<result column="browseTime" property="browsetime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		guid, objectGuid, objectType, IP, creator, creatorID, browseTime
	</sql>

	<select id="selectByGuid" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from visitinfo
		where guid = #{guid,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByGuid" parameterType="java.lang.String">
		delete from visitinfo
		where guid = #{guid,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="VisitInfo">
		insert into visitinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="guid != null">
				guid,
			</if>
			<if test="objectguid != null">
				objectGuid,
			</if>
			<if test="objecttype != null">
				objectType,
			</if>
			<if test="ip != null">
				IP,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="creatorid != null">
				creatorID,
			</if>
			<if test="browsetime != null">
				browseTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="guid != null">
				#{guid,jdbcType=VARCHAR},
			</if>
			<if test="objectguid != null">
				#{objectguid,jdbcType=VARCHAR},
			</if>
			<if test="objecttype != null">
				#{objecttype,jdbcType=INTEGER},
			</if>
			<if test="ip != null">
				#{ip,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="creatorid != null">
				#{creatorid,jdbcType=VARCHAR},
			</if>
			<if test="browsetime != null">
				#{browsetime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<update id="updateByGuid" parameterType="VisitInfo">
		update visitinfo
		<set>
			<if test="objectguid != null">
				objectGuid = #{objectguid,jdbcType=VARCHAR},
			</if>
			<if test="objecttype != null">
				objectType = #{objecttype,jdbcType=INTEGER},
			</if>
			<if test="ip != null">
				IP = #{ip,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test="creatorid != null">
				creatorID = #{creatorid,jdbcType=VARCHAR},
			</if>
			<if test="browsetime != null">
				browseTime = #{browsetime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where guid = #{guid,jdbcType=VARCHAR}
	</update>
		<!-- 获取今日浏览量 -->
	<select id="selectNumBybrowsetime" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		SELECT count(*) FROM visitinfo
		WHERE date_format(browseTime,'%Y-%m-%d') = #{browsetime,jdbcType=VARCHAR}
	</select>		
		<!-- 获取今日回复帖子数 -->
	<select id="selectNumBydocguid" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		SELECT count(DISTINCT(docguid)) FROM replyinfo
		WHERE date_format(createtime,'%Y-%m-%d') = #{createtime,jdbcType=VARCHAR}

	</select>
			<!-- 获取今日发布帖子 -->
	<select id="selectNumBycreatetime" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		SELECT count(*) FROM documentinfo
		WHERE date_format(createTime,'%Y-%m-%d') = #{createtime,jdbcType=VARCHAR}
	</select>
				<!-- 获取今日删除帖子 -->
	<select id="selectDeleteNumBycreatetime" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		SELECT count(*) FROM deletereason
		WHERE date_format(createTime,'%Y-%m-%d') = #{createtime,jdbcType=VARCHAR}
	</select>
</mapper>